In [15]:
import pandas as pd

In [16]:
train=pd.read_csv('../data/train_part1_cleaned.csv')
test=pd.read_csv('../data/test_cleaned.csv')

In [17]:
train

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15,year,month
0,2015-05-05,268643,4,2.25,1810,9240,2.0,0,0,3,7,1810,0,1961,0,98055,1660,9240,2015,5
1,2014-07-08,245000,3,2.50,1600,2788,2.0,0,0,4,7,1600,0,1992,0,98031,1720,3605,2014,7
2,2015-01-15,200000,4,2.50,1720,8638,2.0,0,0,3,8,1720,0,1994,0,98003,1870,7455,2015,1
3,2015-04-27,352499,2,2.25,1240,705,2.0,0,0,3,7,1150,90,2009,0,98027,1240,750,2015,4
4,2014-12-05,232000,3,2.00,1280,13356,1.0,0,0,3,7,1280,0,1994,0,98042,1590,8071,2014,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,2014-11-13,378000,3,1.50,1000,6914,1.0,0,0,3,7,1000,0,1947,0,98125,1000,6947,2014,11
16205,2014-11-11,399950,3,2.50,3087,5002,2.0,0,0,3,8,3087,0,2014,0,98023,2927,5183,2014,11
16206,2014-09-30,575000,3,2.50,2120,4780,2.0,0,0,3,7,2120,0,2004,0,98053,1690,2650,2014,9
16207,2014-06-20,245000,1,0.75,380,15000,1.0,0,0,3,5,380,0,1963,0,98168,1170,15000,2014,6
16208,2015-03-25,315000,4,2.50,3130,5999,2.0,0,0,3,7,3130,0,2006,0,98042,3020,5997,2015,3

# Time Based Features

In [18]:
train['time_since_built']=train['year']-train['yr_built']
train.loc[train['yr_renovated'] == 0, 'yr_renovated'] = train['yr_built']
train['time_since_renovated']=train['year']-train['yr_renovated']

In [19]:
train

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15,year,month,time_since_built,time_since_renovated
0,2015-05-05,268643,4,2.25,1810,9240,2.0,0,0,3,...,0,1961,1961,98055,1660,9240,2015,5,54,54
1,2014-07-08,245000,3,2.50,1600,2788,2.0,0,0,4,...,0,1992,1992,98031,1720,3605,2014,7,22,22
2,2015-01-15,200000,4,2.50,1720,8638,2.0,0,0,3,...,0,1994,1994,98003,1870,7455,2015,1,21,21
3,2015-04-27,352499,2,2.25,1240,705,2.0,0,0,3,...,90,2009,2009,98027,1240,750,2015,4,6,6
4,2014-12-05,232000,3,2.00,1280,13356,1.0,0,0,3,...,0,1994,1994,98042,1590,8071,2014,12,20,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,2014-11-13,378000,3,1.50,1000,6914,1.0,0,0,3,...,0,1947,1947,98125,1000,6947,2014,11,67,67
16205,2014-11-11,399950,3,2.50,3087,5002,2.0,0,0,3,...,0,2014,2014,98023,2927,5183,2014,11,0,0
16206,2014-09-30,575000,3,2.50,2120,4780,2.0,0,0,3,...,0,2004,2004,98053,1690,2650,2014,9,10,10
16207,2014-06-20,245000,1,0.75,380,15000,1.0,0,0,3,...,0,1963,1963,98168,1170,15000,2014,6,51,51
16208,2015-03-25,315000,4,2.50,3130,5999,2.0,0,0,3,...,0,2006,2006,98042,3020,5997,2015,3,9,9

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16209 entries, 0 to 16208
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  16209 non-null  object
 1   price                 16209 non-null  int64
 2   bedrooms              16209 non-null  int64
 3   bathrooms             16209 non-null  float64
 4   sqft_living           16209 non-null  int64
 5   sqft_lot              16209 non-null  int64
 6   floors                16209 non-null  float64
 7   waterfront            16209 non-null  int64
 8   view                  16209 non-null  int64
 9   condition             16209 non-null  int64
 10  grade                 16209 non-null  int64
 11  sqft_above            16209 non-null  int64
 12  sqft_basement         16209 non-null  int64
 13  yr_built              16209 non-null  int64
 14  yr_renovated          16209 non-null  int64
 15  zipcode               16209 non-null  int64
 16  sqft_living15         16209 non-null  int64
 17  sqft_lot15            16209 non-null  int64
 18  year                  16209 non-null  int64
 19  month                 16209 non-null  int64
 20  time_since_built      16209 non-null  int64
 21  time_since_renovated  16209 non-null  int64
dtypes: float64(2), int64(19), object(1)
memory usage: 2.7+ MB

In [21]:
# convert zipcode to categorial
train['zipcode']=train['zipcode'].astype('category')

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16209 entries, 0 to 16208
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  16209 non-null  object
 1   price                 16209 non-null  int64
 2   bedrooms              16209 non-null  int64
 3   bathrooms             16209 non-null  float64
 4   sqft_living           16209 non-null  int64
 5   sqft_lot              16209 non-null  int64
 6   floors                16209 non-null  float64
 7   waterfront            16209 non-null  int64
 8   view                  16209 non-null  int64
 9   condition             16209 non-null  int64
 10  grade                 16209 non-null  int64
 11  sqft_above            16209 non-null  int64
 12  sqft_basement         16209 non-null  int64
 13  yr_built              16209 non-null  int64
 14  yr_renovated          16209 non-null  int64
 15  zipcode               16209 non-null  category
 16  sqft_living15         16209 non-null  int64
 17  sqft_lot15            16209 non-null  int64
 18  year                  16209 non-null  int64
 19  month                 16209 non-null  int64
 20  time_since_built      16209 non-null  int64
 21  time_since_renovated  16209 non-null  int64
dtypes: category(1), float64(2), int64(18), object(1)
memory usage: 2.6+ MB

In [23]:
train.drop(['date'],axis=1,inplace=True)

In [24]:
train

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15,year,month,time_since_built,time_since_renovated
0,268643,4,2.25,1810,9240,2.0,0,0,3,7,...,0,1961,1961,98055,1660,9240,2015,5,54,54
1,245000,3,2.50,1600,2788,2.0,0,0,4,7,...,0,1992,1992,98031,1720,3605,2014,7,22,22
2,200000,4,2.50,1720,8638,2.0,0,0,3,8,...,0,1994,1994,98003,1870,7455,2015,1,21,21
3,352499,2,2.25,1240,705,2.0,0,0,3,7,...,90,2009,2009,98027,1240,750,2015,4,6,6
4,232000,3,2.00,1280,13356,1.0,0,0,3,7,...,0,1994,1994,98042,1590,8071,2014,12,20,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,378000,3,1.50,1000,6914,1.0,0,0,3,7,...,0,1947,1947,98125,1000,6947,2014,11,67,67
16205,399950,3,2.50,3087,5002,2.0,0,0,3,8,...,0,2014,2014,98023,2927,5183,2014,11,0,0
16206,575000,3,2.50,2120,4780,2.0,0,0,3,7,...,0,2004,2004,98053,1690,2650,2014,9,10,10
16207,245000,1,0.75,380,15000,1.0,0,0,3,5,...,0,1963,1963,98168,1170,15000,2014,6,51,51
16208,315000,4,2.50,3130,5999,2.0,0,0,3,7,...,0,2006,2006,98042,3020,5997,2015,3,9,9

In [25]:
# do the same for test data
test['time_since_built']=test['year']-test['yr_built']
test.loc[test['yr_renovated'] == 0, 'yr_renovated'] = test['yr_built']
test['time_since_renovated']=test['year']-test['yr_renovated']

In [26]:
test['zipcode']=test['zipcode'].astype('category')

In [27]:
test

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,time_since_built,time_since_renovated
0,2591820310,2014-10-06,4,2.25,2070,8893,2.0,0,0,4,...,1986,98058,47.4388,-122.162,2390,7700,2014,10,28,28
1,7974200820,2014-08-21,5,3.00,2900,6730,1.0,0,0,5,...,1977,98115,47.6784,-122.285,2370,6283,2014,8,37,37
2,7701450110,2014-08-15,4,2.50,3770,10893,2.0,0,2,3,...,1997,98006,47.5646,-122.129,3710,9685,2014,8,17,17
3,9522300010,2015-03-31,3,3.50,4560,14608,2.0,0,2,3,...,1990,98034,47.6995,-122.228,4050,14226,2015,3,25,25
4,9510861140,2014-07-14,3,2.50,2550,5376,2.0,0,0,3,...,2004,98052,47.6647,-122.083,2250,4050,2014,7,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5399,7732500270,2014-09-25,4,2.50,2820,15000,2.0,0,0,4,...,1985,98052,47.7255,-122.101,2440,15000,2014,9,29,29
5400,3856903515,2014-12-22,3,2.00,1460,6250,1.5,0,0,4,...,1912,98103,47.6693,-122.333,1690,4750,2014,12,102,102
5401,2557000400,2015-04-09,3,2.50,2070,9900,1.0,0,0,3,...,1979,98023,47.2988,-122.371,2070,8250,2015,4,36,36
5402,4386700135,2014-11-14,4,2.25,4760,8036,2.5,0,0,5,...,1916,98112,47.6415,-122.285,2950,9323,2014,11,98,98
5403,7399000360,2015-05-13,4,1.75,1720,8300,1.0,0,0,4,...,1965,98055,47.4654,-122.194,1840,8300,2015,5,50,50

In [28]:
test.drop(['date'],axis=1,inplace=True)

In [29]:
test

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,time_since_built,time_since_renovated
0,2591820310,4,2.25,2070,8893,2.0,0,0,4,8,...,1986,98058,47.4388,-122.162,2390,7700,2014,10,28,28
1,7974200820,5,3.00,2900,6730,1.0,0,0,5,8,...,1977,98115,47.6784,-122.285,2370,6283,2014,8,37,37
2,7701450110,4,2.50,3770,10893,2.0,0,2,3,11,...,1997,98006,47.5646,-122.129,3710,9685,2014,8,17,17
3,9522300010,3,3.50,4560,14608,2.0,0,2,3,12,...,1990,98034,47.6995,-122.228,4050,14226,2015,3,25,25
4,9510861140,3,2.50,2550,5376,2.0,0,0,3,9,...,2004,98052,47.6647,-122.083,2250,4050,2014,7,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5399,7732500270,4,2.50,2820,15000,2.0,0,0,4,9,...,1985,98052,47.7255,-122.101,2440,15000,2014,9,29,29
5400,3856903515,3,2.00,1460,6250,1.5,0,0,4,7,...,1912,98103,47.6693,-122.333,1690,4750,2014,12,102,102
5401,2557000400,3,2.50,2070,9900,1.0,0,0,3,8,...,1979,98023,47.2988,-122.371,2070,8250,2015,4,36,36
5402,4386700135,4,2.25,4760,8036,2.5,0,0,5,9,...,1916,98112,47.6415,-122.285,2950,9323,2014,11,98,98
5403,7399000360,4,1.75,1720,8300,1.0,0,0,4,8,...,1965,98055,47.4654,-122.194,1840,8300,2015,5,50,50

In [30]:
train

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15,year,month,time_since_built,time_since_renovated
0,268643,4,2.25,1810,9240,2.0,0,0,3,7,...,0,1961,1961,98055,1660,9240,2015,5,54,54
1,245000,3,2.50,1600,2788,2.0,0,0,4,7,...,0,1992,1992,98031,1720,3605,2014,7,22,22
2,200000,4,2.50,1720,8638,2.0,0,0,3,8,...,0,1994,1994,98003,1870,7455,2015,1,21,21
3,352499,2,2.25,1240,705,2.0,0,0,3,7,...,90,2009,2009,98027,1240,750,2015,4,6,6
4,232000,3,2.00,1280,13356,1.0,0,0,3,7,...,0,1994,1994,98042,1590,8071,2014,12,20,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,378000,3,1.50,1000,6914,1.0,0,0,3,7,...,0,1947,1947,98125,1000,6947,2014,11,67,67
16205,399950,3,2.50,3087,5002,2.0,0,0,3,8,...,0,2014,2014,98023,2927,5183,2014,11,0,0
16206,575000,3,2.50,2120,4780,2.0,0,0,3,7,...,0,2004,2004,98053,1690,2650,2014,9,10,10
16207,245000,1,0.75,380,15000,1.0,0,0,3,5,...,0,1963,1963,98168,1170,15000,2014,6,51,51
16208,315000,4,2.50,3130,5999,2.0,0,0,3,7,...,0,2006,2006,98042,3020,5997,2015,3,9,9

In [31]:
# save this train and train_engineered_part1.csv
train.to_csv('../data/train_engineered_part1.csv',index=False)

# Outlier Removal

In [32]:
from sklearn.ensemble import IsolationForest

In [49]:
train.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'sqft_living15',
       'sqft_lot15', 'year', 'month', 'time_since_built',
       'time_since_renovated'],
      dtype='object')

In [50]:
# Isolation Forest for outlier detection
iso_forest = IsolationForest(contamination=0.01, random_state=42)

# Select numerical features for outlier detection (excluding price and categorical)
features_for_outlier = train.select_dtypes(include=['int64', 'float64']).drop(columns=['price','waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated','sqft_living15',
       'sqft_lot15', 'year', 'month', 'time_since_built',
       'time_since_renovated'])

# Fit and predict
outlier_labels = iso_forest.fit_predict(features_for_outlier)

In [51]:

# -1 for outliers, 1 for inliers
print(f"Number of outliers detected: {(outlier_labels == -1).sum()}")
print(f"Number of inliers: {(outlier_labels == 1).sum()}")

Number of outliers detected: 163
Number of inliers: 16046

In [52]:
# show me the 163 outliers
outliers = train[outlier_labels == -1]
outliers

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15,year,month,time_since_built,time_since_renovated
20,380000,0,0.00,1470,979,3.0,0,2,3,8,...,0,2006,2006,98133,1470,1399,2015,2,9,9
333,985000,5,4.25,4650,108464,2.0,0,0,3,10,...,1390,1999,1999,98024,2810,155509,2015,3,16,16
511,833450,5,4.00,4460,269345,2.0,0,4,3,9,...,1130,1996,1996,98027,2670,115434,2015,3,19,19
540,516500,1,1.25,1100,638,3.0,0,0,3,9,...,0,2014,2014,98112,1110,1933,2014,6,0,0
625,2466350,5,4.75,6390,13180,2.0,0,0,3,10,...,1830,1940,1940,98112,4010,8137,2014,6,74,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15996,525000,3,2.25,2040,435600,2.0,0,2,4,7,...,0,1983,1983,98022,2020,223027,2014,12,31,31
16024,472000,3,2.50,1860,415126,2.0,0,0,3,7,...,0,2006,2006,98038,2070,54014,2015,5,9,9
16071,1688000,4,4.00,5000,12941,3.0,0,2,3,12,...,0,2002,2002,98006,4560,12941,2015,1,13,13
16087,745000,3,2.50,2810,435600,2.0,0,0,3,9,...,0,1995,1995,98045,2380,92007,2014,12,19,19
16167,729000,3,4.25,3300,308080,2.0,0,2,4,9,...,780,1976,1976,98070,2130,90604,2015,1,39,39

In [53]:
outliers['bathrooms'].describe()

count    163.000000
mean       3.500000
std        1.547848
min        0.000000
25%        2.500000
50%        3.750000
75%        4.500000
max        8.000000
Name: bathrooms, dtype: float64

In [55]:
outliers['bedrooms'].describe()

count    163.000000
mean       4.233129
std        1.857818
min        0.000000
25%        3.000000
50%        4.000000
75%        5.500000
max       10.000000
Name: bedrooms, dtype: float64

In [56]:

# Remove outliers from train data
train_clean = train[outlier_labels == 1].reset_index(drop=True)
print(f"Original train shape: {train.shape}")
print(f"Cleaned train shape: {train_clean.shape}")

Original train shape: (16209, 21)
Cleaned train shape: (16046, 21)

In [57]:
train_clean.to_csv('../data/train_outliers_removed.csv',index=False)