In [2]:
import pandas as pd

In [3]:
train=pd.read_csv('../data/train_part2_cleaned.csv')
test=pd.read_csv('../data/test_cleaned.csv')

In [4]:
train.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'year', 'month'],
      dtype='object')

In [4]:
train

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month
0,2015-05-05,268643,4,2.25,1810,9240,2.0,0,0,3,...,0,1961,0,98055,47.4362,-122.187,1660,9240,2015,5
1,2014-07-08,245000,3,2.50,1600,2788,2.0,0,0,4,...,0,1992,0,98031,47.4034,-122.187,1720,3605,2014,7
2,2015-01-15,200000,4,2.50,1720,8638,2.0,0,0,3,...,0,1994,0,98003,47.2704,-122.313,1870,7455,2015,1
3,2015-04-27,352499,2,2.25,1240,705,2.0,0,0,3,...,90,2009,0,98027,47.5321,-122.073,1240,750,2015,4
4,2014-12-05,232000,3,2.00,1280,13356,1.0,0,0,3,...,0,1994,0,98042,47.3715,-122.074,1590,8071,2014,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,2014-11-13,378000,3,1.50,1000,6914,1.0,0,0,3,...,0,1947,0,98125,47.7144,-122.319,1000,6947,2014,11
16205,2014-11-11,399950,3,2.50,3087,5002,2.0,0,0,3,...,0,2014,0,98023,47.2974,-122.349,2927,5183,2014,11
16206,2014-09-30,575000,3,2.50,2120,4780,2.0,0,0,3,...,0,2004,0,98053,47.6810,-122.032,1690,2650,2014,9
16207,2014-06-20,245000,1,0.75,380,15000,1.0,0,0,3,...,0,1963,0,98168,47.4810,-122.323,1170,15000,2014,6
16208,2015-03-25,315000,4,2.50,3130,5999,2.0,0,0,3,...,0,2006,0,98042,47.3837,-122.099,3020,5997,2015,3

In [5]:
train['time_since_built']=train['year']-train['yr_built']
train.loc[train['yr_renovated'] == 0, 'yr_renovated'] = train['yr_built']
train['time_since_renovated']=train['year']-train['yr_renovated']

In [6]:
# convert zipcode to categorial
train['zipcode']=train['zipcode'].astype('category')

In [7]:
train.drop(['date'],axis=1,inplace=True)

In [8]:
# do the same for test data
test['time_since_built']=test['year']-test['yr_built']
test.loc[test['yr_renovated'] == 0, 'yr_renovated'] = test['yr_built']
test['time_since_renovated']=test['year']-test['yr_renovated']

In [9]:
test

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,time_since_built,time_since_renovated
0,2591820310,2014-10-06,4,2.25,2070,8893,2.0,0,0,4,...,1986,98058,47.4388,-122.162,2390,7700,2014,10,28,28
1,7974200820,2014-08-21,5,3.00,2900,6730,1.0,0,0,5,...,1977,98115,47.6784,-122.285,2370,6283,2014,8,37,37
2,7701450110,2014-08-15,4,2.50,3770,10893,2.0,0,2,3,...,1997,98006,47.5646,-122.129,3710,9685,2014,8,17,17
3,9522300010,2015-03-31,3,3.50,4560,14608,2.0,0,2,3,...,1990,98034,47.6995,-122.228,4050,14226,2015,3,25,25
4,9510861140,2014-07-14,3,2.50,2550,5376,2.0,0,0,3,...,2004,98052,47.6647,-122.083,2250,4050,2014,7,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5399,7732500270,2014-09-25,4,2.50,2820,15000,2.0,0,0,4,...,1985,98052,47.7255,-122.101,2440,15000,2014,9,29,29
5400,3856903515,2014-12-22,3,2.00,1460,6250,1.5,0,0,4,...,1912,98103,47.6693,-122.333,1690,4750,2014,12,102,102
5401,2557000400,2015-04-09,3,2.50,2070,9900,1.0,0,0,3,...,1979,98023,47.2988,-122.371,2070,8250,2015,4,36,36
5402,4386700135,2014-11-14,4,2.25,4760,8036,2.5,0,0,5,...,1916,98112,47.6415,-122.285,2950,9323,2014,11,98,98
5403,7399000360,2015-05-13,4,1.75,1720,8300,1.0,0,0,4,...,1965,98055,47.4654,-122.194,1840,8300,2015,5,50,50

In [10]:
test['zipcode']=test['zipcode'].astype('category')

In [11]:
test.drop(['date'],axis=1,inplace=True)

In [14]:
import numpy as np

# Add cyclical encoding for month
train['month_sin'] = np.sin(2 * np.pi * train['month'] / 12)
train['month_cos'] = np.cos(2 * np.pi * train['month'] / 12)

test['month_sin'] = np.sin(2 * np.pi * test['month'] / 12)
test['month_cos'] = np.cos(2 * np.pi * test['month'] / 12)

In [15]:
train

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,lat,long,sqft_living15,sqft_lot15,year,month,time_since_built,time_since_renovated,month_sin,month_cos
0,268643,4,2.25,1810,9240,2.0,0,0,3,7,...,47.4362,-122.187,1660,9240,2015,5,54,54,5.000000e-01,-8.660254e-01
1,245000,3,2.50,1600,2788,2.0,0,0,4,7,...,47.4034,-122.187,1720,3605,2014,7,22,22,-5.000000e-01,-8.660254e-01
2,200000,4,2.50,1720,8638,2.0,0,0,3,8,...,47.2704,-122.313,1870,7455,2015,1,21,21,5.000000e-01,8.660254e-01
3,352499,2,2.25,1240,705,2.0,0,0,3,7,...,47.5321,-122.073,1240,750,2015,4,6,6,8.660254e-01,-5.000000e-01
4,232000,3,2.00,1280,13356,1.0,0,0,3,7,...,47.3715,-122.074,1590,8071,2014,12,20,20,-2.449294e-16,1.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,378000,3,1.50,1000,6914,1.0,0,0,3,7,...,47.7144,-122.319,1000,6947,2014,11,67,67,-5.000000e-01,8.660254e-01
16205,399950,3,2.50,3087,5002,2.0,0,0,3,8,...,47.2974,-122.349,2927,5183,2014,11,0,0,-5.000000e-01,8.660254e-01
16206,575000,3,2.50,2120,4780,2.0,0,0,3,7,...,47.6810,-122.032,1690,2650,2014,9,10,10,-1.000000e+00,-1.836970e-16
16207,245000,1,0.75,380,15000,1.0,0,0,3,5,...,47.4810,-122.323,1170,15000,2014,6,51,51,1.224647e-16,-1.000000e+00
16208,315000,4,2.50,3130,5999,2.0,0,0,3,7,...,47.3837,-122.099,3020,5997,2015,3,9,9,1.000000e+00,6.123234e-17

In [16]:
train.to_csv('../data/train_part2_engineered.csv',index=False)
test.to_csv('../data/test_engineered.csv',index=False)

In [17]:
train

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,lat,long,sqft_living15,sqft_lot15,year,month,time_since_built,time_since_renovated,month_sin,month_cos
0,268643,4,2.25,1810,9240,2.0,0,0,3,7,...,47.4362,-122.187,1660,9240,2015,5,54,54,5.000000e-01,-8.660254e-01
1,245000,3,2.50,1600,2788,2.0,0,0,4,7,...,47.4034,-122.187,1720,3605,2014,7,22,22,-5.000000e-01,-8.660254e-01
2,200000,4,2.50,1720,8638,2.0,0,0,3,8,...,47.2704,-122.313,1870,7455,2015,1,21,21,5.000000e-01,8.660254e-01
3,352499,2,2.25,1240,705,2.0,0,0,3,7,...,47.5321,-122.073,1240,750,2015,4,6,6,8.660254e-01,-5.000000e-01
4,232000,3,2.00,1280,13356,1.0,0,0,3,7,...,47.3715,-122.074,1590,8071,2014,12,20,20,-2.449294e-16,1.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,378000,3,1.50,1000,6914,1.0,0,0,3,7,...,47.7144,-122.319,1000,6947,2014,11,67,67,-5.000000e-01,8.660254e-01
16205,399950,3,2.50,3087,5002,2.0,0,0,3,8,...,47.2974,-122.349,2927,5183,2014,11,0,0,-5.000000e-01,8.660254e-01
16206,575000,3,2.50,2120,4780,2.0,0,0,3,7,...,47.6810,-122.032,1690,2650,2014,9,10,10,-1.000000e+00,-1.836970e-16
16207,245000,1,0.75,380,15000,1.0,0,0,3,5,...,47.4810,-122.323,1170,15000,2014,6,51,51,1.224647e-16,-1.000000e+00
16208,315000,4,2.50,3130,5999,2.0,0,0,3,7,...,47.3837,-122.099,3020,5997,2015,3,9,9,1.000000e+00,6.123234e-17

# Post modelling feature analysis

In [6]:
train=pd.read_csv('../data/final_train.csv')
test=pd.read_csv('../data/final_test.csv')

In [7]:
train

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,dino_758,dino_759,dino_760,dino_761,dino_762,dino_763,dino_764,dino_765,dino_766,dino_767
0,268643,4,2.25,1810,9240,2.0,0,0,3,7,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
1,245000,3,2.50,1600,2788,2.0,0,0,4,7,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
2,200000,4,2.50,1720,8638,2.0,0,0,3,8,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
3,352499,2,2.25,1240,705,2.0,0,0,3,7,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
4,232000,3,2.00,1280,13356,1.0,0,0,3,7,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,378000,3,1.50,1000,6914,1.0,0,0,3,7,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710
16205,399950,3,2.50,3087,5002,2.0,0,0,3,8,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710
16206,575000,3,2.50,2120,4780,2.0,0,0,3,7,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710
16207,245000,1,0.75,380,15000,1.0,0,0,3,5,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710
16208,315000,4,2.50,3130,5999,2.0,0,0,3,7,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710

In [8]:
img_cols = [f"dino_{i}" for i in range(768)]
sat_cols= [f"sat_feat_{i}" for i in range(256)]
target = 'price' # Ensure this matches your target column name
tab_cols = [c for c in train.columns if c not in img_cols + [target]+sat_cols]

In [9]:
train.drop(sat_cols,axis=1,inplace=True)
test.drop(sat_cols,axis=1,inplace=True)

In [10]:
train

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,dino_758,dino_759,dino_760,dino_761,dino_762,dino_763,dino_764,dino_765,dino_766,dino_767
0,268643,4,2.25,1810,9240,2.0,0,0,3,7,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
1,245000,3,2.50,1600,2788,2.0,0,0,4,7,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
2,200000,4,2.50,1720,8638,2.0,0,0,3,8,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
3,352499,2,2.25,1240,705,2.0,0,0,3,7,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
4,232000,3,2.00,1280,13356,1.0,0,0,3,7,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,378000,3,1.50,1000,6914,1.0,0,0,3,7,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710
16205,399950,3,2.50,3087,5002,2.0,0,0,3,8,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710
16206,575000,3,2.50,2120,4780,2.0,0,0,3,7,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710
16207,245000,1,0.75,380,15000,1.0,0,0,3,5,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710
16208,315000,4,2.50,3130,5999,2.0,0,0,3,7,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710

In [11]:
from sklearn.ensemble import IsolationForest

In [15]:
# Isolation Forest for outlier detection
iso_forest = IsolationForest(contamination=0.01, random_state=42)

# Select numerical features for outlier detection (excluding price and categorical)
features_for_outlier = train.select_dtypes(include=['int64', 'float64']).drop(columns=['price','waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated','sqft_living15',
       'sqft_lot15', 'year', 'month', 'time_since_built',
       'time_since_renovated','month_sin','month_cos']+img_cols)

# Fit and predict
outlier_labels = iso_forest.fit_predict(features_for_outlier)

In [17]:

# -1 for outliers, 1 for inliers
print(f"Number of outliers detected: {(outlier_labels == -1).sum()}")
print(f"Number of inliers: {(outlier_labels == 1).sum()}")

Number of outliers detected: 163
Number of inliers: 16046

In [18]:
# remove them and make a new dataframe final_train_no_outliers
final_train_no_outliers = train[outlier_labels == 1].reset_index(drop=True)

In [19]:
# save to csv
final_train_no_outliers.to_csv('../data/final_train_no_outliers.csv',index=False)

# Outlier Removal

In [20]:
final_train_no_outliers

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,dino_758,dino_759,dino_760,dino_761,dino_762,dino_763,dino_764,dino_765,dino_766,dino_767
0,268643,4,2.25,1810,9240,2.0,0,0,3,7,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
1,245000,3,2.50,1600,2788,2.0,0,0,4,7,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
2,200000,4,2.50,1720,8638,2.0,0,0,3,8,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
3,352499,2,2.25,1240,705,2.0,0,0,3,7,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
4,232000,3,2.00,1280,13356,1.0,0,0,3,7,...,0.940335,0.821179,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16041,378000,3,1.50,1000,6914,1.0,0,0,3,7,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710
16042,399950,3,2.50,3087,5002,2.0,0,0,3,8,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710
16043,575000,3,2.50,2120,4780,2.0,0,0,3,7,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710
16044,245000,1,0.75,380,15000,1.0,0,0,3,5,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710
16045,315000,4,2.50,3130,5999,2.0,0,0,3,7,...,0.940332,0.821178,0.432712,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710

In [21]:
# add two feature lat+lon and lat-lon as lat45 and lon45
final_train_no_outliers['lat_plus_lon'] = final_train_no_outliers['lat'] + final_train_no_outliers['long']
final_train_no_outliers['lat_minus_lon'] = final_train_no_outliers['lat'] - final_train_no_outliers['long']

In [37]:
test['lat_plus_lon'] = test['lat'] + test['long']
test['lat_minus_lon'] = test['lat'] - test['long']

# Geoclusters

In [28]:
from sklearn.cluster import KMeans

In [29]:
# 1. Initialize the model
# For 16k rows, 100 clusters is a good starting point to capture local pockets.
kmeans = KMeans(n_clusters=100, random_state=42, n_init=10)

In [33]:
# 2. Fit ONLY on training data
# Assuming your coordinates are 'latitude' and 'longitude'
train_coords = final_train_no_outliers[['lat', 'long']]
kmeans.fit(train_coords)

KMeans(n_clusters=100, n_init=10, random_state=42)

In [34]:
final_train_no_outliers['geo_cluster'] = kmeans.predict(train_coords)

In [35]:
final_train_no_outliers

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,dino_761,dino_762,dino_763,dino_764,dino_765,dino_766,dino_767,lat_plus_lon,lat_minus_lon,geo_cluster
0,268643,4,2.25,1810,9240,2.0,0,0,3,7,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.7508,169.6232,70
1,245000,3,2.50,1600,2788,2.0,0,0,4,7,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.7836,169.5904,38
2,200000,4,2.50,1720,8638,2.0,0,0,3,8,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-75.0426,169.5834,71
3,352499,2,2.25,1240,705,2.0,0,0,3,7,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.5409,169.6051,50
4,232000,3,2.00,1280,13356,1.0,0,0,3,7,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.7025,169.4455,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16041,378000,3,1.50,1000,6914,1.0,0,0,3,7,...,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710,-74.6046,170.0334,85
16042,399950,3,2.50,3087,5002,2.0,0,0,3,8,...,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710,-75.0516,169.6464,0
16043,575000,3,2.50,2120,4780,2.0,0,0,3,7,...,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710,-74.3510,169.7130,66
16044,245000,1,0.75,380,15000,1.0,0,0,3,5,...,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710,-74.8420,169.8040,5
16045,315000,4,2.50,3130,5999,2.0,0,0,3,7,...,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710,-74.7153,169.4827,29

In [38]:
test

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,dino_760,dino_761,dino_762,dino_763,dino_764,dino_765,dino_766,dino_767,lat_plus_lon,lat_minus_lon
0,2591820310,4,2.25,2070,8893,2.0,0,0,4,8,...,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.7232,169.6008
1,7974200820,5,3.00,2900,6730,1.0,0,0,5,8,...,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.6066,169.9634
2,7701450110,4,2.50,3770,10893,2.0,0,2,3,11,...,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.5644,169.6936
3,9522300010,3,3.50,4560,14608,2.0,0,2,3,12,...,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.5285,169.9275
4,9510861140,3,2.50,2550,5376,2.0,0,0,3,9,...,0.432711,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.4183,169.7477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5399,7732500270,4,2.50,2820,15000,2.0,0,0,4,9,...,0.432712,0.487805,1.027206,-2.148014,-1.042708,-1.218026,-0.844075,-3.292711,-74.3755,169.8265
5400,3856903515,3,2.00,1460,6250,1.5,0,0,4,7,...,0.432712,0.487805,1.027206,-2.148014,-1.042708,-1.218026,-0.844075,-3.292711,-74.6637,170.0023
5401,2557000400,3,2.50,2070,9900,1.0,0,0,3,8,...,0.432712,0.487805,1.027206,-2.148014,-1.042708,-1.218026,-0.844075,-3.292711,-75.0722,169.6698
5402,4386700135,4,2.25,4760,8036,2.5,0,0,5,9,...,0.432712,0.487805,1.027206,-2.148014,-1.042708,-1.218026,-0.844075,-3.292711,-74.6435,169.9265
5403,7399000360,4,1.75,1720,8300,1.0,0,0,4,8,...,0.432712,0.487805,1.027206,-2.148014,-1.042708,-1.218026,-0.844075,-3.292711,-74.7286,169.6594

In [39]:
test['geo_cluster'] = kmeans.predict(test[['lat', 'long']])

In [40]:
final_train_no_outliers

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,dino_761,dino_762,dino_763,dino_764,dino_765,dino_766,dino_767,lat_plus_lon,lat_minus_lon,geo_cluster
0,268643,4,2.25,1810,9240,2.0,0,0,3,7,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.7508,169.6232,70
1,245000,3,2.50,1600,2788,2.0,0,0,4,7,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.7836,169.5904,38
2,200000,4,2.50,1720,8638,2.0,0,0,3,8,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-75.0426,169.5834,71
3,352499,2,2.25,1240,705,2.0,0,0,3,7,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.5409,169.6051,50
4,232000,3,2.00,1280,13356,1.0,0,0,3,7,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.7025,169.4455,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16041,378000,3,1.50,1000,6914,1.0,0,0,3,7,...,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710,-74.6046,170.0334,85
16042,399950,3,2.50,3087,5002,2.0,0,0,3,8,...,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710,-75.0516,169.6464,0
16043,575000,3,2.50,2120,4780,2.0,0,0,3,7,...,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710,-74.3510,169.7130,66
16044,245000,1,0.75,380,15000,1.0,0,0,3,5,...,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710,-74.8420,169.8040,5
16045,315000,4,2.50,3130,5999,2.0,0,0,3,7,...,0.487810,1.027214,-2.148020,-1.042706,-1.218013,-0.844074,-3.292710,-74.7153,169.4827,29

In [41]:
test

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,dino_761,dino_762,dino_763,dino_764,dino_765,dino_766,dino_767,lat_plus_lon,lat_minus_lon,geo_cluster
0,2591820310,4,2.25,2070,8893,2.0,0,0,4,8,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.7232,169.6008,22
1,7974200820,5,3.00,2900,6730,1.0,0,0,5,8,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.6066,169.9634,25
2,7701450110,4,2.50,3770,10893,2.0,0,2,3,11,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.5644,169.6936,30
3,9522300010,3,3.50,4560,14608,2.0,0,2,3,12,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.5285,169.9275,24
4,9510861140,3,2.50,2550,5376,2.0,0,0,3,9,...,0.487807,1.027211,-2.148022,-1.042707,-1.218017,-0.844079,-3.292711,-74.4183,169.7477,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5399,7732500270,4,2.50,2820,15000,2.0,0,0,4,9,...,0.487805,1.027206,-2.148014,-1.042708,-1.218026,-0.844075,-3.292711,-74.3755,169.8265,53
5400,3856903515,3,2.00,1460,6250,1.5,0,0,4,7,...,0.487805,1.027206,-2.148014,-1.042708,-1.218026,-0.844075,-3.292711,-74.6637,170.0023,80
5401,2557000400,3,2.50,2070,9900,1.0,0,0,3,8,...,0.487805,1.027206,-2.148014,-1.042708,-1.218026,-0.844075,-3.292711,-75.0722,169.6698,58
5402,4386700135,4,2.25,4760,8036,2.5,0,0,5,9,...,0.487805,1.027206,-2.148014,-1.042708,-1.218026,-0.844075,-3.292711,-74.6435,169.9265,1
5403,7399000360,4,1.75,1720,8300,1.0,0,0,4,8,...,0.487805,1.027206,-2.148014,-1.042708,-1.218026,-0.844075,-3.292711,-74.7286,169.6594,70

In [42]:
# save these as final_train_no_outliers_with_geo.csv and test_with_geo.csv
final_train_no_outliers.to_csv('../data/final_train_no_outliers_with_geo.csv',index=False)
test.to_csv('../data/test_with_geo.csv',index=False)